<!DOCTYPE html>
<html>
<head>
	<title>计算属性和侦听器</title>
	<script type="text/javascript" src="../js/vue.js"></script>
</head>
<body >
	<div id="app">
		<p>{{ message }}</p>
		<p>模板内的表达式计算：{{ message.split('').reverse().join('') }}</p>
		<p>计算属性：{{ reversedMessage1 }}</p>
		<p>方法计算：{{ reversedMessage() }}</p>
		<input type="text" v-model="message">
		<p>
			计算属性缓存 vs 方法:<br>
			我们可以将同一函数定义为一个方法而不是一个计算属性。两种方式的最终结果确实是完全相同的。然而，不同的是计算属性是基于它们的依赖进行缓存的。只在相关依赖发生改变时它们才会重新求值。这就意味着只要 message 还没有发生改变，多次访问 reversedMessage 计算属性会立即返回之前的计算结果，而不必再次执行函数。
		</p>
		<p>
			{{now}}
		</p>
		<div>{{ fullName }}</div>
		firstName:<input type="text" v-model="firstName">
		lastName:<input type="text" v-model="lastName">
		fullName:<input type="text" v-model="fullName">
<!-- 		<div>{{ firstName + ' ' + lastName}}</div> -->
		<p>
			计算属性 vs 侦听属性:<br>
			Vue 提供了一种更通用的方式来观察和响应 Vue 实例上的数据变动：侦听属性。当你有一些数据需要随着其它数据变动而变动时，你很容易滥用 watch——特别是如果你之前使用过 AngularJS。然而，通常更好的做法是使用计算属性而不是命令式的 watch 回调。
		</p>
	</div>
	<script type="text/javascript" src="index.js"></script>
</body>
</html>